.card_box {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 40px;
    background-color: #FBFAFC;

    >div:first-child {
        width: 100%;
        max-width: 1210px;
        min-width: 990px;
        margin: 0 auto;
        flex-direction: column;
    }

    .section {
        flex-wrap: wrap;
        align-items: center;

        .card {
            box-sizing: border-box;
            width: 48%;
            height: 300px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            box-shadow: 0 0 10px rgba(159, 114, 255, 0.12);
            border-radius: 10px;
            margin-bottom: 40px;
            background-color: #fff;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-bottom: 20px;
            }

            h2 {
                color: green;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                text-align: justify;
                margin-top: 20px;
            }
        }
    }
}