.banner_box {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 150px;
    padding-bottom: 80px;
    background: rgb(183, 183, 183);

    >div:first-child {
        width: 100%;
        max-width: 1210px;
        min-width: 990px;
        margin: 0 auto;
        flex-direction: column;
        align-items: flex-start;

        .logo {
            font-size: 29px;
            padding-left: 20px;
            align-items: center;
        }

        .slogan {
            width: 100%;
            letter-spacing: -1.29px;
            font-size: 50px;
            font-weight: 700;
            padding-left: 20px;
            margin: 24px 0;
        }

        .desc {
            width: 65%;
            font-size: 18px;
            font-weight: 500;
            padding-left: 20px;
            margin-bottom: 24px;
            text-align: justify;
        }
    }
}