.logo_banner {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 150px;
    padding-bottom: 80px;

    >div:first-child {
        width: 100%;
        max-width: 1210px;
        min-width: 990px;
        margin: 0 auto;
        text-align: center;

    }

    .title {
        font-size: 20px;
        font-weight: bold;
    }

    .text {
        width: 60%;
        margin-left: 20%;
    }

    .swiper_swper {
        position: relative;
        width: 100%;
        height: 160px;
        margin-top: 20px;
        margin-bottom: 30px;
        overflow: hidden;
        display: flex;
        flex-shrink: 0;

        .wrap {
            height: 100%;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;

            .item {
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 250px;
                height: 80%;
                // background-color: #ccc;
                margin: 0 10px;
                box-shadow: 0 0 10px rgba(159, 114, 255, 0.12);
                border-radius: 10px;

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0 10px rgb(0, 123, 255);
                }

                img {
                    width: 80%;
                    height: 80%;
                    margin: 0 auto;
                }
            }
        }
    }

}