.lr_box {
    width: 100%;
    height: auto;
    position: relative;

    >div:first-child {
        width: 100%;
        max-width: 1210px;
        min-width: 990px;
        margin: 0 auto;
        flex-direction: column;
    }

    .list {
        width: 100%;
        flex-direction: column;

        .list_item {

            .left {
                flex: 1;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;

                .title {
                    font-size: 24px;                    
                    font-weight: bold;
                    padding-top: 20%;
                }

                .text {
                    font-size: 20px;
                    margin-top: 20px;
                }
            }

            .right {
                flex: 1;
                align-items: center;

                img {
                    width: 65%;
                    margin: 0 auto;
                }
            }

            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }

    }
}