.card_box {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 40px;
    padding-bottom: 80px;

    >div:first-child {
        width: 100%;
        max-width: 1210px;
        min-width: 990px;
        margin: 0 auto;
        flex-direction: column;
    }

    .title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: bold;
    }

    .section {
        flex-wrap: wrap;
        align-items: center;

        .card {
            box-sizing: border-box;
            width: 48%;
            height: 300px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 10px rgba(159, 114, 255, 0.12);
            border-radius: 10px;
            margin-bottom: 20px;

            h2 {
                margin-top: 30px;
                color: green;
            }

            p{
                margin-top: 20px;
                
                font-weight: bold;
            }

        }
    }
}